.buyers {
    .page-hero__title {
        color: rgba(40, 40, 40, 0.92);
    }

    .page-hero__sub {
        color: #282828bf;
    }

    .page-hero__eyebrow {
        color: rgba(40, 40, 40, 0.65);
    }

    .page-hero__overlay {
        background: linear-gradient(to bottom,
                rgba(255, 255, 255, 0.15),
                rgba(255, 255, 255, 0.05));
    }
}