body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-size: 16px;
    font-style: normal;
    color: #6f6a65;
}

h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 40px;

    @include media-breakpoint-down(md) {
        font-size: 30px;
    }
}

h2 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 28px;

    @include media-breakpoint-down(md) {
        font-size: 20px;
        padding: 0 30px;
    }

    &.statement {
        padding: 50px 0;
        text-align: center;

        @include media-breakpoint-down(md) {
            padding: 30px 40px 10px;
        }

        &.standalone {
            padding: 50px 40px;
            text-align: center;
            line-height: 1.45;
            letter-spacing: .5;

            @include media-breakpoint-up(sm) {
                padding: 75px 120px;
            }

        }
    }
}

h3 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
}

.logo {
    width: 200px;
    position: relative;
    background-image: url('../assets/images/final-logo.png');
    z-index: 2;
    bottom: 10px;

    @include media-breakpoint-down(lg) {
        width: 150px;
    }


}

.navbar-collapse {
    position: relative;
    /* bottom: 70px; */
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    z-index: 2;
}

.navbar-nav .show > .nav-link,
.navbar-nav .nav-link.active {
    color: #d48c7a;
}

.navbar-toggler {
    position: relative;

}


.navbar-nav .show > .nav-link {
    padding-right: 30px;
    padding-left: 30px;
}

.navbar-collapse .navbar-nav {
    position: relative;

    background-color: white;

    .nav-item {
        padding: 20px 10px 15px;
    }
}


.hero-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    position: relative;

    @include media-breakpoint-down(lg) {
        height: 45vh;
    }


    .container {
        padding: 0;
        width: auto;
        text-align: center;
        color: #3b2f2a;
        position: absolute;
        background-image: url('../assets/images/transparent-bg.png');
        background-repeat: repeat;
        height: 100%;



        @include media-breakpoint-up(sm) {
            top: 0;
            width: auto;
        }

        @include media-breakpoint-up(md) {
            top: 11%;
            height: auto;
        }

        @include media-breakpoint-up(lg) {
            top: 15%;
        }

        h1 {
            padding: 50px 0 20px;
            width: 80%;
            margin: 0 auto;
        }

        h2 {
            padding: 0 50px;
        }




    }

    &.home {
        background-image: url('../assets/images/banners/home.png');

    }


    &.sand {
        background-image: url('../assets/images/banners/sand.png');

        .container {
            min-height: auto;
            background-image: none;

            h2 {
                padding-top: 130px;
            }
        }

    }

    &.sellers {
        background-image: url('../assets/images/banners/sellers.png');

    }

    &.buyers {
        background-image: url('../assets/images/banners/buyers.png');

    }

}

button {
    padding: 10px 30px;
    margin: 40px 0;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    background-color: #d48c7a;
    color: #fff;

    &:hover {
        background-color: #fff;

    }
}


// Buyer's cards

.card {
    padding: 30px;
    background-color: #f3eee6;
    border-radius: 15px;
    margin: 0px;
    border: 10px solid #ffffff;
    border-bottom: none;

    @include media-breakpoint-down(md) {
        padding: 30px;
        border: 20px solid #ffffff;
        border-bottom: none;
    }

    h1 {
        margin: 10px 0 30px 0;
    }

    p {

        letter-spacing: 1px;
        line-height: 1.75;
        font-size: 18px;

        &.step-label {
            letter-spacing: 0.12em;
            color: #c2bbb1;

        }

        &.step-body {
            color: #807a72;
        }
    }

    &.card-image {
        padding: 0;
        border-width: 10px;
    }

    .image-container {
        margin-top: 50px;
    }
}

// Buyers 
section.my-role {
    background-color: #ecf3f9;
    padding: 50px;
}

//Footer
footer {
    padding: 50px;

    a {
        display: block;
        line-height: 3;
        text-decoration: none;
        color: #000;
    }
}