// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";
@import "variables.scss";
@import "layout.scss";
//@import "base.scss";
@import "nav.scss";
@import "hero.scss";
@import "contact.scss";
@import "buyers.scss";
@import "resources.scss";
//
// This template has no custom styling
// Insert any custom SCSS here!